ul.comment-list li{
    list-style-type: none;
}

ul.comment-list li > p{
    margin-left: 40px;
    line-height: 1.0em;
}

ul.comment-list li img{
    float: left;
    display: inline-block;
    width: 30px;
    height: 30px;
}

p.user-name{
    font-size: 0.9em;
    font-style: italic;
    font-weight: 600;
    color: #001b6c;
}

p.comment-dates{
    font-size: 0.8em;
    color: #808080;
}

p.comment-body{
    margin-bottom: 3px;
}

.comment-btns{
    margin-left: 40px;
    margin-bottom: 30px;
}

.comment-btns a{
    margin-right: 10px;
    text-decoration: underline;
}

.comment-btns a:hover{
    text-decoration: none;
}

.unauth-warn{
    margin: 10px 0 30px;
}

.send-comment-btn{
    margin-top: 15px;
    margin-bottom: 15px;
}

.comment-textarea{
    width: 50%;
}


@media (max-width: 991px) {
    .comment-textarea{
        width: 100%;
    }
}

.user-name.curr-user{
    color: #828282;
}